/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}
h1, h2,h3,h4
{
  color: #444;  
}
h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2
{
    font-size: 55px;
}
h3
{
    font-size: 30px;
}
h4
{
    font-size: 24px;
}
p
{

    color: #777;
}

/* HEADER */



/* MAIN IMAGE */



/* POSSIBILITIES */



/* CONTACT */

 


/* FOOTER */


